<ion-view class="map" view-title="Rota">
  <ion-nav-bar class="bar bar-stable">
      <ion-nav-back-button>Voltar</ion-nav-back-button>
</ion-nav-bar>
    <ion-content>
        <iframe scrolling="no" frameborder="0" id="map" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?saddr=são+paulo&daddr=rio+de+janeiro&output=embed"></iframe>
        <button type="button" class="button button-block btn-ocorrencias" ui-sref="menu.ocorrencias">OCORRÊNCIAS</button>
    </ion-content>
</ion-view>
