<ion-view class="ocorrencia-alimentacao" view-title="Diario de Bordo" ng-init="getAlimentacao()">
	<ion-content>
		<div class="list">
			<div class="item item-divider alimentacao-title" >
				<img class="icon-routes" src="img/icons/beer.png">
				<p>Alimentação</p>
			</div>
			<div class="item alimentacao-cabecalho">
				<div class="row">
					<div class="col">
						Data
					</div>
					<div class="col">
						Hora
					</div>
					<div class="col">
						Valor
					</div>
				</div>

				<div class="row" ng-repeat="alimentacao in info">
					<div class="col">
						{{alimentacao.date | date: 'dd/MM/yyyy'}}
					</div>
					<div class="col">
						{{alimentacao.hora | date: 'HH:mm'}}
					</div>
					<div class="col">
						{{alimentacao.valor}}
					</div>
					<div class="col">
						<button class="button icon ion-trash-a" ng-click="deleteAlimentacao(alimentacao)"></button>
					</div>
				</div>
			</div>
		</div>
		<div class="btn-footer">
		<button class="button button-block btn-novo" ui-sref="menu.cadAlimentacao"> Inserir Novo Registro </button>
			<button class="button button-block btn-voltar" ui-sref="menu.ocorrencias"> Voltar </button>
		</div>
	</ion-content>
</ion-view>
