<ion-view class="reg-alimentacao" view-title="Diario de Bordo">
	<ion-content>
		<div class="list">
			<div class="item item-divider alimentacao-title" >
				<img class="icon-routes" src="img/icons/beer.png">
				<p>Alimentação</p>
			</div>
			<div class="item alimentacao-reg">
				<div class="list">
					<label class="item item-input item-stacked-label">
						<span class="input-label">Data</span>
						<input type="date" ng-model="info.date">
					</label>

					<label class="item item-input item-stacked-label">
						<span class="input-label">Hora</span>
						<input type="time" ng-model="info.hora">
					</label>

					<label class="item item-input item-stacked-label">
						<span class="input-label">Valor</span>
						<input type="text" ng-model="info.valor" placeholder="Informe o valor">
					</label>

					<label class="item item-input item-stacked-label">
						<span class="input-label">Anexar Comprovante</span><br>
						<input type="file" ng-model="info.image">
					</label>
				</div>
			</div>
		</div>
		<div class="btn-footer">
			<button class="button button-block btn-cancelar" ui-sref="menu.alimentacao"> Cancelar </button>
			<button class="button button-block btn-salvar" ng-click="alimentacao()"> Salvar </button>
		</div>
	</ion-content>
</ion-view>
