<ion-view class="reg-carga" view-title="Diario de Bordo">
	<ion-content>
		<div class="list">
			<div class="item item-divider carga-title" >
				<img class="icon-routes" src="img/icons/inbox.png">
				<p>Carga e Descarga</p>
			</div>
			<div class="item carga-reg">
			<div class="list">
					<label class="item item-input item-stacked-label">
						<span class="input-label">Data</span>
						<input type="date" ng-model="info.date">
					</label>
					<label class="item item-input item-stacked-label">
						<span class="input-label">Hora</span>
						<input type="time" ng-model="info.hora">
					</label>
					<label class="item item-input item-stacked-label">
						<span class="input-label">Carga | Descarga</span><br>
						<select ng-model="info.status">
							<option value="">Selecione uma opção</option>
							<option value="inicio">Carga</option>
							<option value="fim">Descarga</option>
						</select>
					</label>
				</div>
			</div>
		</div>
		<div class="btn-footer">
			<button class="button button-block btn-cancelar" ui-sref="menu.cargaDescarga"> Cancelar </button>
			<button class="button button-block btn-salvar" ng-click="cargaDescarga()"> Salvar </button>
		</div>
	</ion-content>
</ion-view>
