<ion-view class="reg-manutencao" view-title="Diario de Bordo">
	<ion-content>
		<div class="list">
			<div class="item item-divider manutencao-title" >
				<img class="icon-routes" src="img/icons/tools.png">
				<p>Manutenção de Veículos</p>
			</div>
			<div class="item manutencao-reg">
				<div class="list">
					<label class="item item-input item-stacked-label">
						<span class="input-label">Data</span>
						<input type="date" ng-model="info.date">
					</label>

					<label class="item item-input item-stacked-label">
						<span class="input-label">Hora</span>
						<input type="time" ng-model="info.hora">
					</label>

					<label class="item item-input item-stacked-label">
						<span class="input-label">Valor</span>
						<input type="text" ng-model="info.valor" placeholder="Informe o valor">
					</label>

					<label class="item item-input item-stacked-label">
						<span class="input-label">Serviço</span>
						<input type="text" ng-model="info.tipo" placeholder="Informe o serviço realizado">
					</label>
				</div>
			</div>
		</div>
		<div class="btn-footer">
			<button class="button button-block btn-cancelar" ui-sref="menu.manutencao"> Cancelar </button>
			<button class="button button-block btn-salvar" ng-click="manutencao()"> Salvar </button>
		</div>
	</ion-content>
</ion-view>
